.logo {
	padding-left: 25px;
	padding-top: 20px;
}

#profilepic {
	text-align: center;
	justify-content: space-around;
	padding-right: 30px;
	padding-top: 10px;
}

.profil {
	display: flex;
	padding-top: 200px;
	justify-content: space-around;
}

#skiftbillede {
	font-size: 50px;
	margin-bottom: 5%;
	text-align: center;
}

#skiftbilledeinput {
	font-size: 30px;
	padding-top: 0%;
}

p {
	font-size: 50px;
	padding-left: 60px;
	margin-bottom: 0px;
}

.input {
	margin-left: 60px;
	width: 830px;
	height: 80px;
	font-size: 50px;
}

#tilbage {
	border: none;
	height: 120px;
	width: 400px;
	color: white;
	background-color: #1f1f1f;
	text-align: center;
	display: inline-block;
	font-size: 48px;
	border-radius: 20px;
}

#gemændringer {
	border: none;
	height: 120px;
	width: 400px;
	color: white;
	background-color: #50814c;
	text-align: center;
	display: inline-block;
	font-size: 48px;
	border-radius: 20px;
}

.knapper {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}
