.header{
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 110px;

}

.logo{
    padding-left: 25px;
    padding-top: 20px;
}

#profilepic{
    text-align: center;
    justify-content: space-around;
    padding-right: 30px;
    padding-top: 10px;
}

#mainpic{
    
    padding-top: 10%;
}

.nyheder{
    color: rgb(0, 217, 255);
    margin: 1px;
    text-decoration: underline;
    padding-left: 2%;
}

.titel{
    margin-top: 0;
    padding-left: 2%;
}

.brødtekst{
    padding-left: 2%;
    padding-right: 2%;
}



#tilbage {
    border: none;
    height: 120px;
    width: 400px;
    color: white;
    background-color: #1f1f1f;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    border-radius: 20px;
  }

  .knapper{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 2%;
}

  .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: #1f1f1f;    
  }