.header{
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 110px;

}

.logo{
    padding-left: 25px;
    padding-top: 20px;
}

#profilepic{
    text-align: center;
    justify-content: space-around;
    padding-right: 30px;
    padding-top: 10px;
}

#mainpic{
    size-adjust: 800px;
    padding-top: 165px;
    padding-left: 75px;
    padding-right: 75px;
}

.video-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    font-size: 45px;
    padding-left: 75px;
}

.listinputs{
    font-size: 45px;
    width: 300px;
}



.tekst{
    font-size: 45px;
    padding-left: 75px;
    margin-bottom: 0%;
}

.titelinput{
    margin-left: 75px;
    width: 650px;
    height: 50px;
    font-size: 45px;
}

.beskrivelse{
    margin-left: 75px;
    width: 650px;
    font-size: 45px;
    height: 250px;
}

#tilbage {
    border: none;
    height: 120px;
    width: 400px;
    color: white;
    background-color: #1f1f1f;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    border-radius: 20px;
  }

#upload{
    border: none;
    height: 120px;
    width: 400px;
    color: white;
    background-color: #50814C;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    border-radius: 20px;
  }

.knapper{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 110px;
    width: 100%;
    text-align: center;
    background-color: #1f1f1f;    
    
}